/* Styling for all htmls------------------------------------------------------- */
* {
    box-sizing: border-box;
}
:root {
    --black:#242423;
    --white:#ffffff;
    --red:#ff172d;
    --light-grey: #c5c3c3af;
    --pink-grey:#f3eeee; 
    --light-pink:#fcf1f1;
    --darker-pink:#E7D0D0;
    --light-blue: rgb(2, 130, 250);
    --blue: #0427ee;
    --green:#285430;
    --grey:#DFDEE0;
    --dark-grey:#2d2e2d;
    --purple:#790252;
    --macroon:#8E3200;
    --yellow:#FDB827;
    --font-heading-large:1.8em;
    --font-heading-medium:1.5em;
    --margin-large:50px;
    --margin-medium:20px;
    --margin-small:10px;
    --padding-small:16px;
    --padding-large:50px;
}
body {
    margin: 0;
    width: 100vw;
    min-height:100vh;
}
/* header navigation bar */
header {
    height:100px;
    background-color: var(--black);
}
header nav {
    width:100%;
    height:100%;
    display: flex;
}
header nav ul {
    width:100%;
    align-self: center;
    display: flex;
    padding-right:20px;
    list-style-type: none;
    color:var(--white);
    font-size: 1.5em;
}
header nav ul li {
    margin-right:20px;
}
header nav ul li a {
    text-decoration: none;
    color:var(--white);
}

/* global styling for button */
button:active {
    transform: scale(0.95);
}
/* global styling for mediaUpload class */
.mediaUpload input[type="file"]::-webkit-file-upload-button {
    flex:1;
    border: none;
    margin-top: var(--margin-small);
    background-color: var(--dark-grey);
    color: var(--white);
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}
.mediaUpload input[type="file"]::-webkit-file-upload-button:active{
    transform: scale(0.95);
}

/* Styling for index.html------------------------------------------------------------------ */

.navSearchBar {
    background-color: var(--white);
}
.navSearchBar i {
    color:var(--black);
    margin:5px;
}
.navSearchBar input[type="text"] {
    width: 300px;
    border:none;
    display: inline-block;
    padding:10px;
    line-height: 100%;
    transition: width 0.2s ease-in-out;
}

.navSearchBar input[type="text"]:focus {
    outline: none;
    width: 500px;
}
.navSearchBar:focus-within {
    box-shadow: 2px 2px 10px var(--red);
}
.navLogIn {
    margin-left: auto;
}

#feed {
    /* background-color: var(--light-grey); */
    display:flex; 
    padding-top: var(--padding-large);
}

#feed .allQuestionsContainer {
    flex:5;
    margin:0 var(--margin-large);
    /* margin: 2%; */
    width: 60%;
    background-color: var(--light-grey);
    border-radius: 10px;
}
#feed nav {
    margin-left: 20%;
    width: fit-content;
    background-color: var(--light-grey);
    height:100%;
    border-radius: 10px;
}
#feed ul {
    list-style-type: none;
    padding:0;
    margin-top:var(--margin-large);
    text-align: center;
}
#feed ul li {
    margin-bottom: var(--margin-large);
}
#feed ul li a{
    text-decoration: none;
    color:var(--black); 
    font-weight: 800;
    font-size:var(--font-heading-medium);  
}

.topAskedQuestions h2 {
    text-align: center;
    font-size: var(--font-heading-large);
}
.topAskedQuestions button {
    float:right;
    background-color: var(--light-blue);
    border: none;
    margin-right: 5%;
    padding:var(--padding-small);
    cursor:pointer;
    box-shadow:1px 1px 20px rgba(0, 0,0,0.3);
    margin-bottom: 5%;
}

.topAskedQuestions button:hover {
    background-color: var(--blue);
    color: var(--white);
}

.topAskedQuestions button:active {
    box-shadow: 0 5px var(--blue);
    transform: translateY(1px);
}
.topAskedQuestions button a {
    color:var(--white);
    text-decoration: none;
}

.question {
    clear: right;
    display: flex;
    cursor: pointer;
    border-bottom: 0.5px solid black;
    /* border-top: 0.5px solid black; */
}
.question > p {
    flex-basis: 150px;
    padding:var(--padding-small)
}
.question div {
    flex:1;
}

#feed aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    width: 10%;
    background-color: var(--white);
    height: 100%;
    background-color: var(--light-grey);
    border-radius: 10px;
}
#feed aside h2 {
    font-size:var(--font-heading-medium);
}
.legendaryContainer {
    flex:3;
}

.legendaryQuestion a{
    text-decoration: none;
    color:var(--black);
    cursor: pointer;
}
.topTags {
    flex:2;
}

/*Responsive css for index.html*/
@media screen and (max-width: 1000px) {
    #feed aside {
        display: none;
    }
    #feed nav {
        margin-left: 0;
    }

    #feed .allQuestionsContainer {
        margin-right: 0;
        width: fit-content;
    }

}

/* Styling for add-question.html, modify-question.html--------------------------------------------*/
#questionForm,
#modifyQuestionContainer {
    width:50%;
    margin: 0 auto;
    font-size: 20px;
}
#questionForm h1,
#modifyQuestionContainer h1 {
    text-align: center;
    font-size: 2em;
}

#questionForm form input[type="text"],
#questionForm form textarea,
#modifyQuestionContainer form input[type="text"],
#modifyQuestionContainer form textarea{
    border: none;
    margin-top:var(--margin-small);
}

#questionForm form > div,
#modifyQuestionContainer form > div{
    background-color: var(--grey);
    margin-bottom: var(--margin-medium);
    padding: var(--padding-small);
}
#questionForm form div > input,
#modifyQuestionContainer form div > input {
    width:100%;
}
#questionForm form div:nth-of-type(2n+1) input[type="text"],
#editTitle {
    height: 50px;
}
#questionContent,
#editContent {
    height:300px;
    width: 100%;
    padding: var(--padding-small);
    resize: none;
}

#questionForm input[type="submit"],
#modifyQuestionContainer input[type="submit"] {
    float:right;
    background-color: var(--grey);
    border: none;
    padding:1em;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: var(--margin-medium);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}
#questionForm input[type="submit"]:active {
    transform: scale(0.95)
}

/* Styling for tags.html, view-tag.html and saved-question.html-----------------------------------*/
#questionByTagContainer,
#savedQuestionContainer,
#tagContainer {
    width:70%;
    height:100%;
    margin: var(--margin-large) auto;
}

.tagCard {
    background-color: var(--light-pink);
    display: flex;
    margin-top: var(--margin-large);
} 
.tagCard h2 {
    flex-basis: 200px;
    text-align: center;
}
.tagContent {
    background-color: var(--grey);
    flex:1;
    padding:1.5em;
}
.tagContent button {
    background-color: var(--purple);
    border: none;
    padding:1em;
    color:var(--white);
    font-weight: bold;
}

#questionByTagContainer h1, #savedQuestionContainer h1{
    text-align: center;
}
.questionCard {
    background-color: var(--macroon);
    display: flex;
    margin-bottom: var(--margin-large);
}
.questionCard h2 {
    flex-basis: 200px;
    text-align: center;
    height:100%;
    color: var(--white);
}
.questionCard section {
    background-color: var(--grey);
    flex:1;
    padding:1.5em;
}
/* Styling for view-question.html------------------------------------------------------- */
#questionContainer {
    width: 70%;
    margin: 0 auto;
    position:relative;
    margin-top: var(--margin-large);
}
#questionContainer h1 {
    font-size: 2em;
    margin: 0;
}
#questionContainer button #ask{
    color:var(--white);
    text-decoration: none;
}
.profileContainer{
    margin: var(--margin-small) var(--margin-small) var(--margin-small) 0;
    display:flex;
}
.profileContainer .profileImg {
    width: 50px;
    height:50px;
    object-fit: cover;
}

.profileContainer .username {
    margin-left: var(--margin-small);
    font-weight: bold;
}
#questionContainer > button {
    background-color: var(--green);
    color:var(--white);
    border: none;
    padding:var(--padding-small);
    cursor:pointer;
    box-shadow:1px 1px 20px rgba(0, 0,0,0.3);
    position:absolute;
    top:0;
    right:0;
}
.questionContentDisplay{
  text-align: justify;
}
.imgGallery {
    width:100%;
}
.imgGallery img{
    object-fit: cover;
}
.mainView {
    height:25rem;
}
.mainView img {
    height:100%;
}
.sideView {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-top: var(--margin-small);
}
.sideView img {
    width:10rem;
    height:10rem;
    margin:0 var(--margin-small) var(--margin-small) 0;
    cursor:pointer;
}
#tagDisplay {
    margin-top: var(--margin-medium);
    display:flex;
    flex-wrap: wrap;
}
.tagBox{
    background-color: var(--grey);
    margin: var(--margin-small) var(--margin-small) var(--margin-small) 0;
    padding:var(--padding-small)
}
.voteDisplay {
    position: absolute;
    bottom:0;
    right:0;
}
.voteDisplay > button {
    font-size: 2em;
    margin-right:var(--margin-small);
    background-color:var(--white);
}

.voteDisplay p {
    text-align: center;
}
.questionModify {
    margin: var(--margin-medium) 0;
}
.questionModify button {
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
}
#modify {
    background-color: var(--yellow);
    margin-right: var(--margin-medium);
}
#delete {
    background-color: var(--purple);
    color:var(--white)
}
.answerContainer {
    position: relative;
    width:70%;
    margin: var(--margin-large) auto;
}
.answerBox {
    background-color: var(--pink-grey);
    padding: var(--padding-small);
    margin-bottom: var(--margin-large);
}
.imgCollection { 
    display:flex;
    flex-wrap: wrap;
    width:100%;
}
.imgCollection .answerImg {
    height:15rem;
    margin:0 var(--margin-small) var(--margin-small) 0;
}
#addAnswerForm {
    width:70%;
    margin: var(--margin-large) auto;
    background-color: var(--grey);
    padding:var(--padding-small);
}
#addAnswerForm > label{
    font-size: 1.5em;
    font-weight: bold;
}

#addAnswerForm textarea{
    border: none;
    margin-top:var(--margin-small);
    height:200px;
    width: 100%;
    padding: var(--padding-small);
    resize: none;
}

#addAnswerForm input[type="submit"] {
    display: block;
    background-color: var(--grey);
    border: none;
    padding:1em;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: var(--margin-medium);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

/* Styling for login.html------------------------------------------------------------------------ */
#log-in-title {
    text-align: center;
}

#log-in-form{
    margin: auto;
    margin-top: 2%;
    width: 600px;  
    background: rgb(233, 183, 183);  
    padding: 20px 40px;  
    border-radius: 20px; 
    box-shadow: 3px 5px 20px  #a39d9d;
    font-size: 20px;
    font-weight: bold;
}   

#email, #password {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}

#log-in {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    font-weight: bold;
}

#log-in:hover {
    cursor: pointer;
    background-color: #a39d9d;
}

#remember-me{  
    left: 50%;
    color: white;  
    font-size: 17px;  
    width: fit-content;
}  

#forgot-password{  
    right: 50%;
    opacity: 0.4;
} 

#line {
    border: 0.5px solid black;
}

 
#forgot-password:hover, #sign-up a:hover {
    opacity: 1;
}

#quick-sign-up {
    font-weight: 100;
}

#sign-up a {
    opacity: 0.4;
}

#log-in-options {
    text-align: center;
    display: block;
}

/* Styling for profile.html----------------------------------------------------------------------- */
#profile-pic {
    margin: 0 20%;
    text-align: center;
}

#profile-pic img {
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
} 

#wrap {
  margin: auto;
  width: 60vw;  
  height: 30vw;
  padding: 40px;  
  background-color: white;
}

#profile-info {
    float: right;
    padding: 15px;
    background-color: rgb(241, 141, 74);
    height: 100%;
    width: 70%;
    border-radius: 20px;
    order:1
}

#profile-info label {
    font-weight: bold;
}

#user-bio {
    width: 100%;
    height: 15vh;
}

#left-nav-bar {
    background-color: #111;
    width: 25%;
    height: 100%;
    border-radius: 20px;
}

#left-nav-bar a {
    padding: 8px 8px 8px 32px;
    font-size: 1.5em;
    color: white;
    display: block;
    text-decoration: none;
}

#left-nav-bar a:hover {
    cursor: pointer;
    color: #f1f1f1; 
}

/* Styling for sign-up.html----------------------------------------------------------------------- */
#sign-up-title {
    text-align: center;
}
#sign-up-form {
    margin: auto;
    margin-top: 2%;
    width: 600px;  
    background: rgb(233, 183, 183);  
    padding: 20px 40px;  
    border-radius: 20px; 
    box-shadow: 3px 5px 20px  #a39d9d;
    font-size: 20px;
    font-weight: bold;
}

#email, #password, #username {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}

#line {
    border: 0.5px solid black;
}

#quick-log-in {
    font-weight: 100;
}

#sign-up {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    font-weight: bold;
}

#sign-up:hover {
    cursor: pointer;
    background-color: #a39d9d;
}

#sign-up-options {
    text-align: center;
    display: block;
}

/* Styling for about.html------------------------------------------------------------------------- */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 3px 5px 20px  #3d3d3d;
    margin: 8px;
    padding-bottom: 10px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card img {
    width: 100%;
    height: 300px;
}

.card h2, .title{
    text-align: center;
}

.about-section {
    height: 500px;
    position: relative;
    background-image: url("../image/coding_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section h2 {
    position: absolute;
    top: 35%;
    left: 16px;
    color: white
}

.work-section {
    text-align: center;
}

.work-section h2 {
    font-size: 1.5rem;
}
#ourwork {
    width: fit-content;
    height: fit-content;
    background-color: antiquewhite;
    text-align: justify;
    padding: 5px;
    font-weight: 300;
    font-size: 1.5rem;
    word-wrap: break-word;
}


.team-section {
    text-align: center;
}

.team-section h2 {
    font-size: 1.5rem;
}

.container {
    padding: 0 16px;
}

.title {
    color: rgb(41, 39, 39);
    font-weight: bold;
}

.container button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.button:hover {
    background-color: #555;
}

.icons {
    width: 150px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icons i {
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    background-color: #555;
}


@media screen  and (max-width: 1000px){ 
    .column {
        width: 100%;
        height: 33.3%;
    }

    .card {
        padding-bottom: 0;
        display: flex;
    }

    .card img {
        width: 200px;
        margin-bottom: 0;
        flex: 1;
    }

    .card .container {
        flex: 2;
        text-align: left;
    }
    
    
}

/* Styling for modify-profile.html--------------------------------------------------------------- */
#modify-profile-title {
    text-align: center;
}

#modify-profile-container {
    margin: auto;
    margin-top: 2%;
    width: 600px;  
    background: rgb(233, 183, 183);  
    padding: 20px 40px;  
    border-radius: 20px; 
    box-shadow: 3px 5px 20px  #a39d9d;
    font-size: 20px;
    font-weight: bold;
}

#modify-profile-img {
    padding: 10px;
    text-align: center;
}

#modify-profile-img img {
    padding-bottom: 20px;
    border-radius: 70%;
}

#modify-profile-img button {
    display: inline-block;
    width: 40%;
    height: 30px;
    border: none;  
    border-radius: 17px;  
    font-weight: bold;
}

#modify-profile-info input {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    line-height: 2;
}

#modify-profile-info {
    line-height: 2;
}

#modify-profile-info #about-me-text {
    height: 100px;
}

#modify-profile-buttons {
    line-height: 50px;
} 
#modify-profile-buttons button {
    width: 100%;
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    font-weight: bold;
}

#modify-profile-buttons button:hover, #modify-profile-img button:hover  {
    cursor: pointer;
    background-color: #a39d9d;
}