:root {
    --pink-grey:#f3eeee; 
    --light-pink:#fcf1f1;
    --darker-pink:#E7D0D0;
    --green:#285430;
    --grey:#DFDEE0;
    --font-heading-large:1.8em;
    --font-heading-medium:1.5em;
    --margin-large:50px;
    --margin-medium:20px;
    --padding-small:16px;
} 
/* layout for index.html----------------------------------------------------------*/
.navSearchBar {
    background-color: var(--white);
}
.navSearchBar i {
    color:var(--black);
    margin:5px;
}
.navSearchBar input[type="text"] {
    width: 300px;
    border:none;
    display: inline-block;
    padding:10px;
    line-height: 100%;
    transition: width 0.2s ease-in-out;
}

.navSearchBar input[type="text"]:focus {
    outline: none;
    width: 500px;
}
.navSearchBar:focus-within {
    box-shadow: 2px 2px 10px var(--red);
}
.navLogIn {
    margin-left: auto;
}

#feed {
    display:flex; 
    margin-top: var(--margin-large);
}

#feed nav,#feed aside {
    flex:1;
}
#feed .allQuestions {
    flex:5;
    background-color: var(--darker-pink);
    margin:0 var(--margin-large);

}
#feed nav {
    background-color:var(--pink-grey);
    height:100%;
}
#feed ul {
    list-style-type: none;
    padding:0;
    margin-top:var(--margin-large);
    text-align: center;
}
#feed ul li {
    margin-bottom: var(--margin-large);
}
#feed ul li a{
    text-decoration: none;
    color:var(--black); 
    font-weight: 800;
    font-size:var(--font-heading-medium);
}

.allQuestions h2 {
    text-align: center;
    font-size: var(--font-heading-large);
}
.allQuestions button {
    float:right;
    background-color: var(--green);

    border: none;
    padding:var(--padding-small);
    cursor:pointer;
    box-shadow:1px 1px 20px rgba(0, 0,0,0.3);
}
.allQuestions button a {
    color:var(--white);
    text-decoration: none;
}

.question {
    background-color: var(--light-pink);
    clear: right;
    margin-bottom: var(--margin-medium);
    display: flex;
    cursor: pointer;
}
.question > p {
    flex-basis: 150px;
    padding:var(--padding-small)
}
.question div {
    flex:1;
}

#feed aside {
    text-align: center;
    display: flex;
    flex-direction: column;
}
#feed aside h2 {
    font-size:var(--font-heading-medium);
}
.legendaryContainer {
    background-color: var(--grey);
    flex:3;
}

.legendaryQuestion a{
    text-decoration: none;
    color:var(--black);
    cursor: pointer;
}
.topTag {
    background-color: var(--grey);
    flex:2;
}

