#questionByTagContainer,
#savedQuestionContainer,
#tagContainer {
    width:70%;
    height:100%;
    margin: var(--margin-large) auto 0;
}

.tagCard {
    background-color: var(--light-pink);
    display: flex;
    margin-top: var(--margin-large);
} 
.tagCard h2 {
    flex-basis: 200px;
    text-align: center;
}
.tagContent {
    background-color: var(--grey);
    flex:1;
    padding:1.5em;
}
.tagContent button {
    background-color: var(--purple);
    border: none;
    padding:1em;
    color:var(--white);
    font-weight: bold;
}

#questionByTagContainer h1, #savedQuestionContainer h1{
    text-align: center;
}
.questionCard {
    background-color: var(--macroon);
    display: flex;
    margin-bottom: var(--margin-large);
}
.questionCard h2 {
    flex-basis: 200px;
    text-align: center;
    height:100%;
    color: var(--white);
}
.questionCard section {
    background-color: var(--grey);
    flex:1;
    padding:1.5em;
}
