#log-in-title {
    text-align: center;
}

#log-in-form{
    margin: auto;
    margin-top: 2%;
    width: 600px;  
    background: rgb(233, 183, 183);  
    padding: 20px 40px;  
    border-radius: 20px; 
    box-shadow: 3px 5px 20px  #a39d9d;
    font-size: 20px;
    font-weight: bold;
}   

#email, #password {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}

#log-in {
    width: 100%;  
    height: 40px;  
    border: none;  
    border-radius: 17px;  
    font-weight: bold;
}

#log-in:hover {
    cursor: pointer;
    background-color: #a39d9d;
}

#remember-me{  
    left: 50%;
    color: white;  
    font-size: 17px;  
    width: fit-content;
}  

#forgot-password{  
    right: 50%;
    opacity: 0.4;
} 

#line {
    border: 0.5px solid black;
}

 
#forgot-password:hover, #sign-up a:hover {
    opacity: 1;
}

#quick-sign-up {
    font-weight: 100;
}

#sign-up a {
    opacity: 0.4;
}

#log-in-options {
    text-align: center;
    display: block;
}